<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0">

  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>PostServlet</servlet-name>
    <servlet-class>ru.job4j.dream.servlet.PostServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CandidateServlet</servlet-name>
    <servlet-class>ru.job4j.dream.servlet.CandidateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>ru.job4j.dream.servlet.IndexServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PhotoUplDwnServlet</servlet-name>
    <servlet-class>ru.job4j.dream.servlet.PhotoUplDwnServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PhotoDeleteServlet</servlet-name>
    <servlet-class>ru.job4j.dream.servlet.PhotoDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CandidateDeleteServlet</servlet-name>
    <servlet-class>ru.job4j.dream.servlet.CandidateDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AuthServlet</servlet-name>
    <servlet-class>ru.job4j.dream.servlet.AuthServlet</servlet-class>
  </servlet>
  <filter>
    <filter-name>AuthFilter</filter-name>
    <filter-class>ru.job4j.dream.filter.AuthFilter</filter-class>
  </filter>

  <servlet-mapping>
    <servlet-name>PostServlet</servlet-name>
    <url-pattern>/posts.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CandidateServlet</servlet-name>
    <url-pattern>/candidates.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/index.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PhotoUplDwnServlet</servlet-name>
    <url-pattern>/photo.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PhotoDeleteServlet</servlet-name>
    <url-pattern>/delete_photo.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CandidateDeleteServlet</servlet-name>
    <url-pattern>/delete_candidate.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AuthServlet</servlet-name>
    <url-pattern>/auth.do</url-pattern>
  </servlet-mapping>
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
</web-app>




